.image_section {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .image_section.loaded {
    transform: translateX(0);
    opacity: 1;
  }

 