/* Product card container */
.my_works {
    padding: 50px 20px;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heading h2 {
    font-size: 24px;
  }
  
  .see-all-btn {
    padding: 10px 20px;
    background-color: #ee1c47;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
 
  .work-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .work-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .work-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .work-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .work-card .price {
    color: #ee1c47;
    font-size: 16px;
    font-weight: bold;
  }
  
  .work-card p {
    color: #555;
    margin: 10px 0;
  }
  
  /* Button group for actions */
  .btn-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .btn-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-source-code-btn {
    background-color: #f1c40f;
    color: #fff;
  }
  
  .view-source-code-btn:hover {
    background-color: #d4ac0d;
  }
  
  
  
  @media (max-width: 768px) {
    .btn-group {
      flex-direction: column; 
    }
  }
  